* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    z-index: 1000;
    background-color: #ffffff;
    border-bottom: 2px solid #1e1e1e;
}

.navBar {
    padding: 8px 40px;
    width: 1680px;
    height: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.navigation-1 {
    list-style: none;
    display: flex;
}

.navigation-1 li a {
    text-decoration: none;
    padding: 0 12px;
    font-size: 20px;
    color: #1e1e1e;
}

.navigation-2 {
    display: flex;
}

.navigation-2 div div {
    margin: 0 12px;
    width: 40px;
    height: 40px;
    background-color: #1e1e1e;
    border-radius: 100%;
}

.carousel-content {
    margin: 0 auto;
    width:  100vw;
    height: 40vw;
    border: 1px #1e1e1e solid;
    overflow: hidden;
}
.carousel-content .container {
    width: 400vw;
    height: 40vw;
    display: flex;
    /* justify-content: flex-start; */
}
.box {
    width: 100vw;
    height: 40vw;
}
.box-1 {
    background-color: #1e1e1e;
}
.box-2 {
    background-color: #3e3e3e;
}
.box-3 {
    background-color: #9e9e9e;
}
.box-4 {
    background-color: #f0f0f0;
}
.box img {
    size: 100vw;
    width: 100%;
    height: 100%;
}
/* .radio-container {
    padding-top: 20px;
    display: flex;
}
.round-button {
    width: 10px;
    height: 10px;
    border: 2px solid gray;
    border-radius: 50%;
    text-indent: -9999px;
    margin: 0 10px;
} */

.event {
    margin: 0 auto;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.event-title {
    padding: 40px;
    width: 100%;
    text-align: start;
}
.event-contents {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.event-pic {
    margin-bottom: 16px;
    width: 100%;
    height: 16vw;
    background-color: #9e9e9e;
}
.event-pic img {
    size: 100%;
    width: 100%;
    height: 16vw;
}
